body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    min-width: 1025px;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    min-width: 13em;
    padding: 2em;
    text-align: center;
}

main {
    flex-grow: 1;
    padding: 0 2em 20em 2em;
    text-align: left;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em 2em;
    text-align: left;
}

footer p {
    margin-bottom: 5em;
    text-align: right;
}

h1 {
    font-family: "Brush Script MT", serif;
    font-size: 300%;
    margin-top: 0;
    padding-top: 0;
    text-align: right;
}

h2, h3 {
    font-family: "Baskerville Old Face", serif;
}

h2 {
    font-size: 250%;
}

h3 {
    font-size: 150%;
}

h4 {
    font-size: smaller;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 3em;
    text-align: right;
}

figure {
    display: inline-block;
    margin: 0 0 0.5em 0;
    padding: 0;
}

figcaption {
    font-size: x-small;
    text-align: center;
}

ul {
    margin: 0 0 3em 1em;
    padding: 0;
    list-style-type: none;
}

ul > li > span{
    font-family: "Baskerville Old Face", serif;
    font-size: 150%;
    font-weight: bold;
}

ul ul {
    margin-top: 1em;
}

ul ul a {
    color: orange;
    text-decoration: none;
}

ul ul a:hover {
    color: cornflowerblue;
}

#summary {
    display: flex;
    flex-direction: column;
}

#summary > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
